# Dependencies
/node_modules

# Next.js build output
/.next
/out

# Environment variables
.env
.env*.local
.env.example

# Misc
.DS_Store
*.log
npm-debug.log*
tsconfig.tsbuildinfo

# Download zip
prayer-fire.zip
